@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #CFDBD5;
    color: #211A1D; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
}

a{
    text-decoration: none;
}



#more-info a{
    color: #211A1D;
}

#start a{
    color: #CFDBD5;
}

.link{
    margin: 5px;
}

.section{
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    overflow: hidden;
}

#down-arrow{
    vertical-align: bottom;
    margin-top: 40vh;
}

#links{
    display: flex;
    font-size: 20px;
    justify-content: center;
    vertical-align: center;
}

#main-pic{
    height: 30%;
    width: auto;
    border-radius: 40%;
    border: 5px solid #800000;
    margin-top: 15vh;
}

#main-text{
    width: 36%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#more-info{
    text-align: center;
    display: block;
    align-items: center;

}

#start{
    background-color: #800000; 
    color: #CFDBD5;
    text-align: center;
    display: table;
    align-items: center;
    vertical-align: middle;

}

#start-text{
    font-size: 40px;
    margin-top: 40vh;
}

#up-arrow{
    margin-top: 5vh;
}